name: Canary Build (Binary Only)

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    name: Build Binary
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      - name: Install Build Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev build-essential

      - name: Build
        run: |
          flutter config --enable-linux-desktop
          flutter build linux --release

      - name: Upload Binary Bundle
        uses: actions/upload-artifact@v4
        with:
          name: asusctl-gui-linux
          path: build/linux/x64/release/bundle/