name: Release Build

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build:
    name: Build & Release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      - name: Install Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev build-essential

      - name: Get Version
        run: |
          VERSION=$(grep 'version:' pubspec.yaml | cut -d ' ' -f 2 | cut -d '+' -f 1)
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Build
        run: |
          flutter config --enable-linux-desktop
          flutter build linux --release --build-name=${{ env.VERSION }}

      - name: Create Portable Tarball
        run: |
          cd build/linux/x64/release/bundle
          tar -czvf ../../../../../asusctl-gui-portable-${{ env.VERSION }}.tar.gz *

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            *.tar.gz